/* Open Sans - self-hosted (no external CDN) */
/* weight 400 regular */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
       url(open-sans-v15-latin-regular.woff2) format('woff2'),
       url(open-sans-v15-latin-regular.woff) format('woff'),
       url(open-sans-v15-latin-regular.ttf) format('truetype');
}
/* weight 700 bold */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
       url(open-sans-v15-latin-700.woff2) format('woff2'),
       url(open-sans-v15-latin-700.woff) format('woff'),
       url(open-sans-v15-latin-700.ttf) format('truetype');
}
